<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pudio</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body id="home">
    <nav class="navbar navbar-expand-lg navbar-light hf-bg" id="navbar">
      <a class="navbar-brand text-white font-weight-bold" href="/">
        <img
          src="img/logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Pudio Casts
      </a>

      <% if(currentUser) { %>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse navbar-right"
        id="navbarTogglerDemo02"
      >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item mr-2 mb-2">
            <a class="nav-link btn text-light" href="/logout">Logout</a>
          </li>

          <li class="nav-item mr-2 mb-2">
            <a class="nav-link btn text-light" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
      <% } %>
    </nav>

