<%- include('partials/header') -%>

<section class="container shadow-lg dashboard__container main-bg-dark">
  
  <div class="row">
    <div class="col-sm-12 mt-5">
      <div class="card bg-white rounded">
        <div
          class="card-header text-white hf-bg h6 shadow-lg font-weight-bold"
        >
          NEW PODCAST
        </div>

        <div class="card-body">
          <form action="/podcast/new" method="POST">
            <div class="form-group">
              <label for="inputTitle" class="text-purple">Title:</label>
              <input
                type="text"
                name="title"
                class="form-control"
                id="inputTitle"
                placeholder="Podcast's Title"
                required
              />
            </div>
            
            <div class="form-group">
              <label for="inputAuthor" class="text-purple">Author:</label>
              <input
                type="text"
                name="author"
                class="form-control"
                id="inputAuthor"
                placeholder="Author's Name"
                required
              />
            </div>

            <div class="form-group">
              <label for="inputLink" class="text-purple">Link:</label>
              <input
                type="text"
                name="link"
                class="form-control"
                id="inputLink"
                placeholder="Podcast's Link"
                required
              />
            </div>

            <button type="submit" class="btn main-bg text-light w-100 podcast__post_btn">POST</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
