:root {
  --hf-bg-color: #101f2c;
  --main-color: #101f2c;
  --main-color-dark: #101f2c;
  --purple: #563d7c;
  --white: #ffffff;
  --w100: 100%;
  --fixed: fixed;
  --absolute: absolute;
  --z-index: 9;
}

html body {
  border: 0;
  margin: 0;
  background-color: var(--main-color);
}

.hf-bg {
  background-color: var(--hf-bg-color);
}

.main-bg {
  background-color: var(--main-color);
}

.main-bg-dark {
  background-color: var(--main-color-dark);
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

#navbar {
  overflow: hidden;
  position: var(--fixed);
  z-index: var(--z-index);
  top: 0;
  width: var(--w100);
}

.footer {
  position: var(--fixed);
  left: 0;
  bottom: 0;
  width: var(--w100);
  z-index: var(--z-index);
  padding: 20px;
}

main {
  padding: 5%;
}

.dashboard__container {
  padding: 10%;
}

.podcast__post_btn:hover {
  background-color: var(--purple);
}

.each__podcast {
  cursor: pointer;
  text-decoration: none;
  transition:all 0.3s ease;
}

.each__podcast:hover {
  text-decoration: none;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
