:root {
  --hf-bg-color: #159da5;
  --main-color: #0898a0;
  --main-color-dark: #057379;
  --purple: #563d7c;
  --white: #ffffff;
  --w100: 100%;
  --fixed: fixed;
  --absolute: absolute;
  --z-index: 9;
}

html body {
  border: 0;
  margin: 0;
  background-color: var(--main-color);
}

.hf-bg {
  background-color: var(--hf-bg-color);
}

.main-bg {
  background-color: var(--main-color);
}

.main-bg-dark {
  background-color: var(--main-color-dark);
}

.text-purple {
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
}

#navbar {
  overflow: hidden;
  position: var(--fixed);
  z-index: var(--z-index);
  top: 0;
  width: var(--w100);
}

.footer {
  position: var(--fixed);
  left: 0;
  bottom: 0;
  width: var(--w100);
  z-index: var(--z-index);
  padding: 20px;
}

main {
  padding: 5%;
}

.dashboard__container {
  margin: auto;
  padding: 20%;
}

.podcast__post_btn:hover {
  background-color: var(--main-color-dark);
}
